$color-primary: #314e5e;
$color-light-text: #ffffff;
$color-primary-text: #142026;
$color-line-blue: #5486a2;
$color-row-light: #f8fafb;
$color-table-bg: #d7e3ea;
$color-active-link: #21FA90;
$color-error-text: #FF0000;

$shadow-primary: 1px 5px 10px ($color-line-blue);
$shadow-input: 0px 2px 10px ($color-line-blue);
$border-primary: 1px solid ($color-line-blue);