$color-primary-text: #142026;
$color-primary: #314e5e;
$color-table-bg: #d7e3ea;
$color-primary-shadow: #5486a2;
$color-primary-line: #5486a2;
$color-primary-background: #f8fafb;
$color-linear-first: #cfd9df;
$color-linear-second: #e2ebf0;
$color-white-text: #ffffff;
